/* Space out content a bit */
body {
    padding: 5px;
}

/* Customize container */
.container {
    padding: 5px;
    height: 700px;
    width: 800px;
    display: grid; 
    grid-template-columns: 0.5fr 1.5fr; 
    grid-template-rows: 0.5fr 1.5fr; 
    gap: 5px 5px; 
    grid-template-areas: 
        "play wave"
        "details EQ"; 
    }
    .play { grid-area: play; }
    .wave { grid-area: wave; }
    .details { grid-area: details; }
    .EQ { grid-area: EQ; }

.play{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wave{
    padding: 0px;
    display: grid;
}

#waveform{
    padding: 5px;
}

.controls .mark-controls {
    display:inline-flex;
}

.EQ{
    align-items: center;
}

.equalizer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}

#progress-bar, .progress-bar {
    z-index: 100;
    background-color: #FFF;
    padding: 0px;
    margin: 0;
}
