* {
  font-family: "Lucida Console", "Courier New", monospace;
}

/* Space out content a bit */
body {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container::before {
  display: none;
}

/* Customize container */
.container {
  padding: 0px;
  height: 300px;
  max-width: 200px;
  display: grid;
  grid-template-rows: 1fr 0.075fr;
  gap: 0px 0px;
  grid-template-areas:
    "play"
    "visual";
}
.play {
  grid-area: play;
}
.visual {
  grid-area: visual;
}

.audioContainer,
.visualContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 200px;
  border: 1px solid black;
}
